:root{
    --border-in: orange;
    --border-out: hsl(0, 0%, 22%);
    --border-header: #383838;
    
    --background-main-card: #1E1E1F;
    --background-body: #000;
    
    --background-header-title: hsl(240, 1%, 17%);
    --background-header-title-1: hsl(240, 1%, 20%);

    --box-shadow-1: 0 0 15px #111;
    --box-shadow-2: 0 0 25px #000;
}




body {
    background-color: var(--background-body);
}

h1, h2, h3, p {
    color: #ffffff;
    /* padding-left: 30px; */
}

hr {
    width: 5rem;
    background-color: #f80;
    border: none;
    height: 5px;
    border-radius: 20px;
    margin-left: 30px;
}

.div-body {

    width: 60%;
    border: 1px solid hsl(0,0%,22%);
    box-shadow: 0px 0px 10px #222;
    padding: 2rem;
    background-color: #1E1E1F;
    margin: 2rem;
    border-radius: 1.5rem ;
    text-align: left;
}

.subdiv-body{
    
    width: 46%;
    margin: 1rem;
    border-radius: 1rem ;

    box-sizing: border-box;
    display: inline-block ;
    /* float: left; */
    
    box-shadow: 0px 0px 10px #222;
    border: 1px solid hsl(0,0%,22%);
    padding: 1rem;
    padding-left: 2rem;
    background-color: #202022;
    
    text-align: left;
}

ul{
    list-style-type: square;
    color: #ffffff;
}

.subdiv-body:hover{
    background-color: rgba(44, 43, 43, 0.923);
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.722);
}

.iconweb{

}



.div-header {
    background-color: var(--background-main-card);
    border: 1px solid var(--border-out);
    border-radius: 1.5rem;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
}

.div-header hr {
    margin: 30px auto 30px auto;
    border: 1px solid var(--border-header);
    border-radius: 1rem;
    width: 80%;
}

.div-title {
    background-color: var(--background-header-title);
    box-shadow: var(--box-shadow-1);
    display: inline-block;

    transition: 0.2s;

    border-radius: 1rem;    
    width: 120px;
}

.div-title:hover {
    background-color: var(--background-header-title-1);
    box-shadow: var(--box-shadow-2);
}

.info-header {
    list-style-type: none;
    margin: 20px auto 20px auto;
    box-sizing: border-box;
    padding: 0;
    width: 30%;
}

.sub-info-header {
    display: flex;
    align-items: center;
    /* align-items: stretch; */
    justify-content: center;
    margin: 20px auto;
}

.info-icon-herder {
    display: flex;
    align-items: center;
}

.info-title-header {
    display: inline-block; 
    align-items: center;
    width: 40%;
}

.info-title-header p {
    margin: 0;
}
